* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

/* MAIN */

.big-container {
    display: flex;
    background-color: coral;
    width: 80%;
    margin: 1% 10%;

    /* DEBUG */
    height: 700px;
}




/* LEFT */
.container-left {
    background-color: rgb(252, 135, 135);
    width: 25%;
    height: 100%;
    border: 2px solid black;
}

/* LEFT HEADER */
.left-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 8%;
}

.left-header-pp {
    background-color: brown;
    border: 1px solid black;
    width: 25%;
    height: 100%;
}

.left-header-menu {
    background-color: brown;
    border: 1px solid black;
    width: 40%;
    height: 100%;
}

/* LEFT NOTIF */
.left-notification {
    display: flex;;
    width: 100%;
    height: 8%;
}

.left-not-pp {
    background-color: brown;
    border: 1px solid black;
    width: 25%;
    height: 100%;
}

.left-not-text {
    background-color: brown;
    border: 1px solid black;
    width: 75%;
    height: 100%;
}

/* LEFT SEARCH */
.left-searchbar{
    background-color: blueviolet;
    border: 1px solid black;
    width: 100%;
    height: 6%;
}

/* LEFT CONTACTS */
.left-contacts {
    background-color: gray;
    border: 1px solid black;
    width: 100%;
    height: 78%;
}

.contact-card {
    display: flex;
    background-color: brown;
    border: 1px solid black;
    height: calc(100% / 9);
    width: 100%;
}

.left-contact-pp {
    background-color: rgb(173, 245, 255);
    border: 1px solid black;
    width: 20%;
    height: 100%;
}

.left-contact-info {
    background-color: rgb(173, 245, 255);
    border: 1px solid black;
    width: 70%;
    height: 100%;
}

.left-contact-hour {
    background-color: rgb(173, 245, 255);
    border: 1px solid black;
    width: 10%;
    height: 100%;
}





/* RIGHT */
.container-right {
    background-color:aqua;
    width: 75%;
    height: 100%;
    border: 2px solid black;
}

/* RIGHT HEADER */

.right-header{
    display: flex;
    background-color: rgb(252, 135, 135);
    border: 1px solid black;
    width: 100%;
    height: 8%;
}

.right-header-pp {
    background-color: brown;
    border: 1px solid black;
    width: 8%;
    height: 100%;
}

.right-header-info {
    background-color: brown;
    border: 1px solid black;
    width: 80%;
    height: 100%;
}

.right-header-menu {
    background-color: brown;
    border: 1px solid black;
    width: 12%;
    height: 100%;
}

/* MSG SCREEN */
.msg-screen {
    background-image: url(../img/mine.jpg);
    border: 1px solid black;
    width: 100%;
    height: 84%;
    padding: 5% 7%;
}

/* RIGHT MSG */
.msg-col-right {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(161, 250, 161);
    width: 100%;
    height: 25%;
    margin: 1%;
}

.msg-right {
    background-color: brown;
    padding: 2%;
    padding-right: 0;
    border-radius: 20px 0 0 20px;
    width: 55%;
    height: 100%;
}

.msg-right-menu {
    background-color: brown;
    border: 1px solid black;
    border-radius: 0 20px 20px 0;
    height: 100%;
    width: 5%;
}

/* LEFT MSG */
.msg-col-left {
    display: flex;
    justify-content: start;
    background-color: rgb(161, 250, 161);
    width: 100%;
    height: 25%;
    margin: 1%;
}


.msg-left {
    background-color: brown;
    padding: 2%;
    padding-left: 0;
    border-radius: 0 20px 20px 0;
    width: 60%;
    height: 100%;
}

.msg-left-menu {
    background-color: brown;
    border: 1px solid black;
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 5%;
}

/* RIGHT TEXT MENU */

.right-text-menu {
    display: flex;
    background-color: aquamarine;
    width: 100%;
    height: 8%;
}

.emoji {
    background-color: brown;
    border: 1px solid black;
    height: 100%;
    width: 8%;
}

.msg-text {
    background-color: brown;
    border: 1px solid black;
    height: 100%;
    width: 84%;
}

.vocal {
    background-color: brown;
    border: 1px solid black;
    height: 100%;
    width: 8%;
}